beanstalkc
django==1.8
django-cors-headers
python-ldap
django-ldapdb
djangorestframework==2.3.13
sendgrid-django
pycrypto
PyJWT==0.1.9
requests
djangorestframework-camel-case
djangorestframework-queryfields
-e git+https://bitbucket.org/deardooley/agave-pycommon.git#egg=agave_pycommon
gunicorn