beanstalkc
django
django-cors-headers
django-ldapdb
djangorestframework==2.3.13
pycrypto
PyJWT==0.1.9
python-ldap
requests
-e git+https://jstubbs@bitbucket.org/jstubbs/agave_common.git#egg=agave_common