  {% extends "base.html" %}
  <body>

    <div class="container">
    {% block content %}

      <h1>Agave User Profile</h1>

      {% if error %}
        <div class="alert alert-danger" role="alert"> {{ error }} </div>
      {% else %}
        <div class="panel panel-default">
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">Logged in user: {{ username }}</li>
              <li class="list-group-item">Email: {{ email }}</li>
              <li class="list-group-item">Account Status (Active/Inactive): {{ verified_str }}</li>
              <li class="list-group-item">Create Time: {{ create_time }}</li>
            </ul>
          </div>
        </div>
      {% endif %}

      <a class="btn btn-primary btn-lg disabled" role="button" href="{% url 'logout' %}">Logout</a>
    {% endblock %}
    </div> <!-- /container -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
